[Unit]
Description=A Discord Music Bot Geoje Island's Beast of prey KimKimbap

[Service]
ExecStart=/home/p1n9u/.nvm/versions/node/v16.11.0/bin/node --es-module-specifier-resolution=node -r /home/p1n9u/devs/kimkimbap/node_modules/dotenv/config /home/p1n9u/devs/kimkimbap/
Restart=always
Group=nogroup
WorkingDirectory=/home/p1n9u/devs/kimkimbap/

[Install]
WantedBy=multi-user.target